@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #D1D5DB;
    --color-dark-gray: #4B5563;
    --color-light-gray:#E5E7EB;
    --color-barcelona-red: #C3023A;
    --color-barcelona-blue: #054C96;
    --color-sky-blue: #BFDBFE;
    --color-light-blue:#EEF2FF;
    --color-medium-blue:#DBEAFE;
    --color-barcelona-yellow: #FFED02;
    --color-barcelona-dark-yellow: #E9B800;
}

body {
    font-family: 'Montserrat', sans-serif;
  
}

.navigation-container {
    background-color: var(--color-black);
    color: var(--color-white);
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    height:4.8rem;
    
}
/* .active-link{
    content: "";
    position: absolute;
    background-color: var(--color-white);
    height:0.15rem;
    width: 100%;
    left: 0;
    bottom: 5px;
} */
.navigation-container .link {
    color: var(--color-white);
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    margin-right: 0.5rem;
    position: relative;
}

.navigation-container .link:after{
    content: "";
    position: absolute;
    background-color: var(--color-white);
    height: 0.15rem;
    width: 0;
    left: 0;
    bottom: 5px;
    transition: 0.3s;
}
.navigation-container .link:hover:after{
    width: 100%;
}

.list-non-bullet {
    list-style: none;
}

.list-inline {
    padding: 0;
    display: inline;
}
/* .logo{
    margin-top: 0.5rem;
    align-items: baseline;
} */
.material-icons{
    color: var(--color-white);
    /* margin-right: 2rem; */
    
}
.cart-wishlist-account-container{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.cart-wishlist-account-container a{
    width: 2rem;
}
.cart-badge{
    position: relative;
    bottom: 40px;
    right: -15px;
    padding: 0.30rem 0.30rem;
    border-radius: 50%;
    background-color: var(--color-barcelona-red);
    color: var(--color-white);
    text-decoration: none;
}
.sale-display{
    background-color: var(--color-sky-blue);
    text-align: center;
    padding: 0.5rem;
}

/* Home Page*/

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.container-heading {
    margin: 1rem;
}

.button {
    width: 10%;
    padding: 1em;
    margin: 1em;
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid;
    border-radius: 0.25rem;
    border-color: var(--color-green);
}

.button:hover {
    background-color: var(--color-black);
    cursor: pointer;
    color: white;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.image-container {
    height: 67vh;
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
    position: relative;
}

.image {
    height: 100%;
    width: 100%;
    position: absolute;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.next-btn,
.previous-btn {
    background-color: var(--color-white);
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.6);
    z-index: 100;
    transition: 400ms;
}

.next-btn:hover,
.previous-btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
}

.previous-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.image-slider-dots {
    display: flex;
    padding: 0.5rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
    transform: translateY(-130%);
}

.single-dot {
    background-color: var(--color-white);
    height: 0.5rem;
    width: 0.5rem;
    margin: 0rem 0.25rem;
    border: 0.0625rem solid var(--color-black);
    cursor: pointer;
    border-radius: 50%;
    transition: 400ms;
}

.single-dot.active {
    background-color: var(--color-black);
}

/*Boots Page*/

.boots-banner-content-container {
    width: 100%;
}

.banner-container img {
    width: 100%;
    height: 100%;

}

.heading {
    margin-top: 2rem;
    text-align: center;
}

.cards-content-container {
    width: 60%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    
}

.cards-container-heading {
    padding: 0.5rem 1rem;
    font-weight: 520;
    font-size: large;
    text-align: center;
    border-radius: 0.25rem;
    background-color: var(--color-black);
    color: var(--color-white);
    margin-bottom: 1rem;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.4rem;
    background-color: var(--color-white);
    width: 100%;
}
.product-card{
    width: 23%;
    overflow: hidden;
    /* border: 1px solid var(--color-black); */
    border-radius: 0.25rem;
    background-color:var(--color-light-blue);
    text-align: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}
.product-card:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.product-image{
    width: 100%;
}
.product-image img{
    width: 100%;
    object-fit: cover;
}
.product-name{
    margin-top: 0.5rem;
    font-size: small;
}
.product-price{
    margin-top: 0.5rem;
}

.product-add-to-cart{
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.66rem;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 0.25rem;
    
    
} 
.product-add-to-cart:hover {
    background-color: var(--color-black);
    cursor: pointer;
    color: white;
}
.wishlist-btn{
    /* color: var(--color-black);
    background-color: var(--color-white); */
    border: none;
    cursor: pointer;
}
.wishlist{
    color: var(--color-black);
    background-color: var(--color-light-blue);
}


/* Cart Page */

.outer-div-container{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.wishlist-outer-div-container{
    width: 60%;
}
.my-cart-cards-container{
    width: 100%;
    background-color:var(--color-light-blue) ;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.my-cart-product-card{
    width: 95%;
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-white);
    /* border: 1px solid var(--color-black); */
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.my-cart-product-card:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.my-cart-product-image-div{
    width: 22%;
}
.my-cart-product-image-div img{
    width: 100%;
    object-fit: cover;
}

.my-cart-product-description-div{
    width: 22%;
}
.my-cart-product-name{
    margin-bottom: 1rem;
}
.my-cart-product-price{
    margin-bottom: 1rem;
}
#size{
    width: 4rem;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}
.quantity-btn{

}
.horizontal-card-btn{
    padding: 0.25rem 0.5rem;
    background-color: cornsilk;
    border: rgb(250, 164, 164) 1px solid ;
    font-size: large;
    cursor: pointer;
    
}
.expected-delivery{
    
}
.replace-info{
    margin-top: 1rem;
    font-size: small;
    color: var(--color-dark-gray);
}
.bill-container{
    width: 50%;
    background-color: var(--color-light-blue);
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    max-height: 30rem;
}
.bill-content-container{
    display: flex;
    justify-content: space-between; 
}
.info-container-div{
   
}
.price-info, .discount-info, .delivery-charges-info {
    margin: 2rem;
}
#price-info, #discount-info, #delivery-charges-info{
    font-weight: bold;
}
.total{
    margin: 1.5rem 2rem;
    font-weight: bold;
}
#total{
    margin-right: 4rem;
}
.values-container{
    margin-right: 1rem;
}
.total-amount-div{
    display: flex;
    justify-content: space-between;
}
.disc-display{
    margin-top: 1rem;
    text-align: center;
    color: green;
    font-weight: bold;
    display: none;
}
.checkout-btn-div{
    text-align: center;
   margin-top: 3rem;
    
}
.checkout-btn{
    padding: 1em;
    margin: 1em;
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid;
    border-radius: 0.25rem;
    border-color: var(--color-green);
    cursor: pointer;
}
.checkout-btn:hover{
    background-color: var(--color-black);
    cursor: pointer;
    color: white;
}
.product-card-btns-div{
    align-items: baseline;
    text-align: center;
    float: right;
}
#delete-btn{
    cursor: pointer;
    border: none;
    background-color: var(--color-white);
    margin-bottom: 1rem;
}
#delete-btn span{
    color: var(--color-black);
    background-color: var(--color-white);
}
#move-to-wishlist-btn{
    border: none;
    cursor: pointer;
    color: var(--color-barcelona-blue);
    background-color: var(--color-white);
    font-weight: bold;
}
.empty-cart-div{
    text-align: center;
    margin: 2rem;
}
.explore-now-btn{
    padding: 1em;
    margin: 1em;
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid;
    border-radius: 0.25rem;
    border-color: var(--color-green);
    cursor: pointer;
}